header {
  margin-top: 5em;
  background-image: url("https://i.blogs.es/1be379/doom-eternal/1366_2000.jpeg");
  height: 33vh;
  background-position: center center;
  background-size: cover;
}

body {
  background-color: #15171e !important;
}

.container {
  min-width: 60vw !important;
}

.card:hover {
  filter: contrast(85%);
}

.card a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
/* Bootstrap Breakpoints */
/* Small devices (landscape phones, 576px and up) */
/*
@media (min-width: 576px) {
    .card {
        max-width: 45vw;
    }
}
*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    max-width: 22.5vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    max-width: 12vw;
  }
}
