body {
  background-color: #15171e !important;
}

/* Carousel */
.container-destacado {
  display: flex;
  margin-top: 60px;
  width: 100%;
}
.container-header{
  margin-top: 68px;
}
.title-carrusel{
  display: flex;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
.icono-destacado{
  padding: 10px;
  height: 45px;
  border-radius: 40px;
}
.carousel-item{
  height: 550px;
}
.carouselBanner{
  height: 100%;
  object-fit: cover;
}
.carouselLogo{
  z-index: 2;
  position: absolute;
  object-fit: contain;
  left: 25%;  
  width: 50%;
  height: 300px;
}

.container-descripcion .card-body {
  width: 20vw;
}

.gamePoster{
  display: none;
}


/* Categorías */
.container-juegos {
  min-width: 60vw !important;
}

.card:hover {
  filter: contrast(85%);
}

.card a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
/* Bootstrap Breakpoints */
/* Small devices (landscape phones, 576px and up) */
/*
@media (min-width: 576px) {
    .card {
        max-width: 45vw;
    }
}
*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    max-width: 22.5vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    max-width: 12vw;
  }
}
